{% extends 'base.html' %}

{% load bootstrap4 %}

{% block conteudo %}
    <a href="{% url 'adicionar_recebimento' %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Adicionar
    </a>
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data de Emissão</th>
                        <th>Data de Vencimento</th>
                        <th>Status</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recebimento in recebimentos %}
                        <tr>
                            <td>{{ recebimento.cliente }}</td>
                            <td>{{ recebimento.descricao }}</td>
                            <td>{{ recebimento.valor }}</td>
                            <td>{{ recebimento.data_emissao }}</td>
                            <td>{{ recebimento.data_vencimento }}</td>
                            <td>{{ recebimento.get_status_display }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                      Opções
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="{% url 'editar_recebimento' recebimento.id %}">Editar</a>
                                      <a class="dropdown-item" href="{% url 'deletar_recebimento' recebimento.id %}">Deletar</a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}