{% extends 'base.html' %}

{% block conteudo %}
    <a href="{% url 'adicionar_clientes' %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Cadastrar
    </a>
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Documento</th>
                        <th>Cidade</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.documento }}</td>
                            <td>{{ cliente.cidade }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                      Opções
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="{% url 'editar_clientes' cliente.id %}">Editar</a>
                                      <a class="dropdown-item" href="{% url 'deletar_clientes' cliente.id %}">Deletar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}